[submodule "Plugins/OpenUnrealUtilities"]
	path = Plugins/OpenUnrealUtilities
	url = https://github.com/JonasReich/OpenUnrealUtilities.git
	branch = develop
[submodule "OpenUnrealAutomationTools"]
	path = OpenUnrealAutomationTools
	url = https://github.com/JonasReich/OpenUnrealAutomationTools.git
[submodule "Plugins/OUUCodingStandard"]
	path = Plugins/OUUCodingStandard
	url = https://github.com/JonasReich/OpenUnrealCodingStandard.git
