.vs
.vsconfig
Binaries/
Intermediate/
Saved/
*.sln
.idea/
Plugins/Developer/RiderLink/
HoloLens/
FileOpenOrder/
CookedData/

# Ignore opencppcoverage log file (which I did not find out how to disable yet)
LastCoverageResults.log
